.Thumbnail{
    display: flex;
    align-items: center;
}

.oneVideo{
    display: flex;
    align-items: center;
    border: 3px solid black;
    margin-bottom: 5%;
    padding: 2%;
    padding-bottom: 0;
}

.videoPlayer{
    width: 60rem;
    height: 30rem;
    margin-right: 3%;
}

.oneVideo:hover{
    cursor: pointer;
}